.formulario-login{
    margin-bottom: 20vh;
    margin-top: 20vh;
    align-items: center;
    text-align: center;
    background-color: rgba(18, 17, 17,0.2);
    border-radius: 15px;
    padding: 10px;
    width: 90%;
}
.formulario-login:hover{
    background-color: rgba(18, 17, 17,0.3);
    transition: .8s;
}
.input{
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
}
.enviar{
    margin-top: 15px;
    padding: 5px 50px 5px 50px;
    border-radius: 15px;
    cursor: pointer;
}

#login{
    background-image: url(img/aniversario-casamento-boda.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}