.menu{
    margin: 8% auto;
}
.ul{
    display: inline-flex;
    list-style: none;
}
@media(max-width:550px){
    .ul{
        display: inline;
        list-style: none;
    }
}
.li{
    background-color:rgba(6, 190, 225, 0.85);
    margin: 5px;
    border-radius: 8px;
}
.alink {
    display: block;
    padding: 8px;
    color: #2f2f2f;
    border-radius: 8px;
}
.alink:hover{
    color: #fff;
    text-decoration: none;
    background-color:rgba(6, 190, 225, 0.34); 
}